@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    background: #000000;
    font-family: 'Poppins', sans-serif;
}

#cursor {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 1000;
}


.content h1{
  text-align: center;
  color: #006aff;
  font-size: 3em;
  width: 100%;
  font-weight: 500;
}
.content{
  width: 80%;
  margin: 5%;
}
.content .cat{
  width: 100%;
  padding-bottom: 1em;
}
.content ul li{
  list-style: none;
}
.content h2{
  line-height: 15px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.content p{
  color: rgb(255, 255, 255);
  margin-left: 100px;
  font-size: 25px;
  font-weight: 200;
}
.content .item{
  line-height: 5px;
}
.content .item a{
  color: #777777;
  text-decoration: none;
  text-align: left;
  font-weight: 700;
}
.content .item a:hover{
  color: #bbbbbb;
  transform: scale(1.1);
  text-decoration: none;
  text-align: left;
  font-weight: 700;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20vh;
    max-width: 80%;
    font-style: italic;
    font-size: 50px;
}

.heading{
  font-size: 4.5rem;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.para{
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.para1{
  font-size: 25px;
  margin-top: -20px;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(140, 140, 140);
}

.accordion li h2 {
    margin-left: 20%;
    color: rgb(255, 255, 255);
  }

  .accordion li p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 25%;
  }

@media only screen and (max-width: 1024px) {
  .content {
    max-width: 100%;
  }

  h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    margin: 20px;
    max-width: 90%;
  }

  .content h1{
    font-size: 40px;
    color: #006aff;
  }

  .content p {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
  }

  .content .cat {
    font-size: 1.1rem;
    margin-top: 20px;
  }

  .accordion li h2 {
    font-size: 15px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
  }

  .accordion li p{
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-left: 30px;
  }
  .copyright{
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    max-width: 100%;
  }

  h1{
    color: white;
    text-align: center;
    margin: 20px;
    max-width: 90%;

  }

  .content h1{
    font-size: 30px;
    color: #006aff;
  }

  .content p {
    font-size: 15px;
    margin-left: 10px;
    color: white;
  }

  .content .cat {
    font-size: 1.1rem;
    margin-top: -20px;
  }

  .accordion li h2 {
    font-size: 15px;
    margin-left: -40px;
    color: white;
  }

  .accordion li p{
    color: white;
    margin: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    max-width: 100%;
  }

  h1{
    color: white;
    text-align: center;
    margin: 20px;
    max-width: 90%;

  }

  .content h1{
    font-size: 30px;
    color: #006aff;
  }

  .content p {
    font-size: 15px;
    margin-left: 10px;
    color: white;
  }

  .content .cat {
    font-size: 1.1rem;
    margin-top: -20px;
  }

  .accordion li h2 {
    font-size: 15px;
    margin-left: -40px;
    color: white;
  }

  .accordion li p{
    color: white;
    margin: 10px;
  }

}

.copyright {
    color: #fff;
    text-align: center;
    margin-bottom: -40px;
}

.name h1{
  color: #ffffff50;
  font-size: 150px;
  font-weight: 200;
  margin-bottom: -50px;
  text-align: center;
}

.name h2{
  color: #ffffff;
  font-size: 50px;
  margin-left: 50px;
  text-decoration:wavy;
  margin-top: -100px;
  text-align: center;
}

.progress-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  z-index: 9999;
}

.progress-bar {
  height: 4px;
  background: linear-gradient(to right, black, rgb(0, 102, 255));
}

a[href^="http"] {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none; 
}
